* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: #28292E transparent;
  }
  
  body {
    background: #0B0B0F;
    font-family: 'Poppins', sans-serif;
    color: #28292E;
  }

  a {
    text-decoration: none;
    color: #9A9A9C;
  }
  
  a:hover {
    color: #F0F0F0;
  }
  
  i {
    color: #C7C8C9;
  }
  
  b {
    font-weight: 400;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: 200;
  }
  
  h2 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.4rem;
  }
  
  h3 {
    font-size: 1.55rem;
    text-align: left;
  }
  
  h4 {
    color: #F0F0F0;
    font-weight: 400;
    font-size: 1.15rem;
    text-align: left;
  }
  
  h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #F0F0F0;
    font-weight: 200;
  }
  
  p, span, li {
    font-size: 1rem;
  }
  
  p {
    text-align: justify;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  footer {
    margin-bottom: 5rem;
  }
  
  footer p {
    font-size: .875rem;
    text-align: center;
    padding: 1rem;
  }